<app-navbar></app-navbar>

<div class="container">
    <div class="row">
        <div class="col-4">
            <div class="text-login">Edite sus Datos</div>   
            <form [formGroup]="form" (ngSubmit)="putUsuario()" *ngIf="show_form">
                <span>Nombre : </span>
                <div class="form-group">
                    <input class="form-control" formControlName="nombre_usuario" type="text">
                </div>

                <span>Telfono</span>
                <div class="form-group">
                    <input class="form-control" formControlName="telefono_usuario" type="text"></div>
                    

                <button type="submit" class="btn btn-primary">Actualizar</button>
            </form>
            <br><br>
            <button type="button" (click)="showPassword()" class="btn btn-warning">Cambiar contraseña</button>

            <form [formGroup]="password" *ngIf="habilitar_password" (ngSubmit)="cambiarPassword()">
                <input type="password" class="form-control" formControlName="password_usuario" placeholder="******">
                <button type="submit" class="btn btn-primary">Actualizar contraseña</button>
            </form>
            
            <!-- Probar todo esto -->
            <div class="ejer_usuarios">       
                <button (click)="comprados()">Comprados</button>
                <button (click)="resueltos()">Resueltos</button>
            </div>
            <div *ngIf="(soluciones_compradas.length != 0)">
                <div  *ngFor="let sc of soluciones_compradas">
                    <button class="btn btn-primary" [routerLink]="['/posts',sc.id_posts]">{{sc.id_posts}}</button>
                </div>
            </div>



        </div>
    </div>
</div>