.ejercicio{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 40px 0;
    margin-top: 10px;
}
img{
    display: block;
    width: 600px;
    height: 400px;
    border: 2px solid gray;
}
.text-post{
    height: 404px;
    border-left: 2px solid gray; 
    margin-left: 80px;
    padding-left: 28px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: bold;
   /* display: flex;
    flex-direction: column;
    justify-content: space-around;*/
}
.info{
    padding: 20px 0;
}

.anuncio{
    border: 2px solid black;
    margin-top: 5px;
    font-size: 20px;
    font-weight: bold;
    padding: 15px 5px;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
}
.caja-anuncio{
    margin: 42x 0;
    text-align: center;
}