<app-navbar></app-navbar>

<div class="container">
    <h3>Vista individual del producto</h3>

    <div class="ejercicio">
        <img src="../assets/img/pob3.png" class="post">
        <div class="text-post">
            <div class="info">Id : 789</div>
            <div class="info">Autor : {{ post.nombre_usuario }}</div>
            <div class="info">Fecha Publicacion : 2020-12-01</div>
        </div>
    </div>
    <a  class="btn btn-outline-success">Comprar solucion</a>

<!-- <img [src]="'http://localhost:3000/' + post.solucion + '.png'"   class="card-img-top" > -->

</div>
