<app-navbar></app-navbar>

<div class="container">
    <h3>Vista individual del producto</h3>

    <div *ngIf="existeElPost" >
        <div class="ejercicio">
        <img [src]="'http://localhost:3000/uploads/' + post.enunciado_ejercicio" class="post">

        <div class="text-post">
            <div class="info">Id : {{id_post}}</div>
            <div class="info">Autor : {{ post.nombre_usuario }}</div>
            <div class="info">Fecha Publicacion : {{post.fecha_post}}</div>
        </div>
        </div>
        <a  class="btn btn-outline-success">Comprar solucion</a>
    </div>
</div>
