<app-navbar></app-navbar>

<div class="container">
    <h3>Vista individual del producto</h3>

    <div *ngIf="existeElPost" >
        <div class="ejercicio">
        <img [src]="'http://localhost:3000/uploads/' + post.enunciado_ejercicio" class="post">

        <div class="text-post">
            <div class="info">Id : {{id_post}}</div>
            <div class="info">Autor : {{ post.nombre_usuario }}</div>
            <div class="info">Fecha Publicacion : {{post.fecha_post}}</div>
        </div>
        </div>
        
        <div *ngIf="hayOficial; else noHayOficial">
            <div *ngIf="loCompre; else nolocompre">
                Mostrar la solucion oficila que la compre
            </div>
            <ng-template #nolocompre>
                <a  class="btn btn-outline-success" (click)="comprar()">Comprar solucion</a>
            </ng-template>
        </div>
        <ng-template #noHayOficial>
            <div>No hay solucion Oficial</div>
        </ng-template>

        <a  class="btn btn-outline-success" *ngIf="noloRespondi; else lasolucion" (click)="subirsolucion()">Subir solucion</a>
        <div *ngIf="presionosubirsolucion">
            <input type="file"  (change)="selectedSolucion($event)"> 
        </div>

        <ng-template #lasolucion>
            <div class="ejercicio">
                <img [src]="'http://localhost:3000/uploads/' + miSolucion.id_solucion" class="post">
        
                <div class="text-post">
                    <div class="info">Id User Solucion: {{miSolucion.id_user_solucion}}</div>
                    <div class="info">Estado: {{ miSolucion.respuesta }}</div>
                </div>
                </div>
        </ng-template>

        <div style="color: red;">{{respuesta}}</div>
    </div>
</div>
