<app-navbar></app-navbar>

<div class="main"> <div class="subtitulo">Quienes Somos</div> Somos un grupo de estudiantes de la carrera de matemática en la UBA. <br> Como todo estudiante, elegir una carrera define nuestro futuro. Notamos muchas problemáticas y suposicione que queremos responder. Quizás te estes preguntando ? Me van a tirar conceptos de la carrera o por qué es importante la matemática en la vida , que vale la pena por estas cosas ...

      <img  class="meme container" src="../assets/img/meme.jpg" alt="">
    
      Queremos contarte nuestras experiencias con un simple ejemplo. <br>
      Comenzare yo , el creador de este sitio.
</div>   

<div class="problematica"> <div class="subtitulo"> Nuestra Problematica </div> Un día se me acercó un compañero de la facultad de la UTN y me dijo que le gustaba las matemáticas pero que todavía no pudo aprobar su final de análisis matemático.
            Yo, que no digo "me gusta" lo promocione con 10 .
            Entonces esto escaló a hora de preguntarnos que carrera elegir si por ejemplo decís eleji ING química porque me gusta la química. Me vino inmediatamente a la mente como puedes decir que te gusta si ni siquiera as cursado "Orgánica 2" o al menos el primer año.
            Como podemos elegir algo que nos gusta si nisiquiera lo hemos probado?
            Como saberlo?
            
            Decidido a encontrarme con alguna respuesta , dividi el salón de la facultad de matemática de la UBA  en dos y me di cuenta quienes eran los indicados para decir me gusta, eran estos jóvenes que decían "me gusta este teorema por qué puedes demostrar tal cosa", o "el finde semana estuve leyendo tal demostración y me pareció interesante". Esto en el ámbito de la matemática, pero trasladado a tu carrera sería seguir estudiando no solo para aprobar el examen.
            
            Después de marcar está división era notable que más de la mitad del salón de la carrera de matemática no podía decir "me gusta matemática" , esto sería muy irreal. Inclusive , sincere a dos personas a decir que por contradicción , debíamos decir "yo odio las matemáticas" o solo quiero el cartón de licenciado.
            
            Esto se estaba tornando muy extraño
</div>

<div class="respuesta"> <div class="subtitulo">Nuestra respuesta </div> La nuestra, es aclarar el punto de me gusta o no me gusta , e inclusive tomamos dos posturas que creemos dejará a todos con buenos términos
            
            Nosotros creemos en qué la matemática es de un solo color, una ciencia abstracta y que te debe gustar o no. Pero no queremos dividirlo en base a algo que no conocemos, el término "gustar", como mencionamos al principio. <br>
            Nuestra división se responde con esta pregunta.
            Si te dicen hay que , usar una fórmula enorme, aplicar una derivada, (o algo relacionado con matematica) .
            
            <div class="bien">Bueno hay que hacerla , no es el fin del mundo</div>
            
            <div class="mal">No, porque  de nuevo . Apruebo este examen no vuelvo a ver esta materia nunca más.</div>
            
</div>

<div class="proposito"> <div class="subtitulo"> Cual es el proposito de esa Pagina </div> Publicar y Mostrar ejercicios que tengan que ver MAS con el analisis y el razonamiento que aplicando formulas y teoremas. Haciendo mas facil decidir entre estas dos opciones</div>
       
