<app-navbar></app-navbar>

<div class="container">
        <h3 class="text-center">Ejercicios</h3>

<div class="ejercicios">
    <div *ngFor="let p of posts" >
        <div class="card" style="width: 22rem;">

                <div class="card-text"> 
                    <div> Id: {{p.id_post}} </div> 
                    <div> Autor: {{ p.nombre_usuario}}</div> 
                </div>  
         
            <div class="caja-imagen">
                <img [src]="'http://localhost:3000/uploads/' + p.enunciado_ejercicio" >
            </div>        
            <div class="card-body text-center">
                <a  class="btn btn-outline-info" (click) = "navigate(p.id_post)">Ver mas</a>
            </div>
        </div>
    </div>   
</div>
       
</div>
