.cinco, .veinte, .cien{
    width: 150px;
    height: 300px;
    border: 2px solid black;
    margin-right: 5px;
}

.cinco:hover, .veinte:hover, .cien:hover{
background-color: rgb(151, 255, 151);
}
.compras{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-top: 75px;
}

/*cajas*/
.numero{
    margin-top: 50px;
    font-size: 80px;
    text-align: center;
}

.bot-text{
    text-align: center;
    font-size: 20px;
}
.botom-comprar{
    margin-top: 15px;
    font-size: 20px;
    margin-left: 23px;
}